$main-black: #303030;
$content-black: #717171;
$grey: #545454;
$light-grey: #D4D4D4;
$light-grey2: #F1F1F1;

$light-blue: #4A96FF;
$light-purple: #F0F5FF;
$purple: #857AFD;
$hilight-purple: #705CA2;

$dark-purple: #3A334C;

$pink: #FF6E70;
