#header {
  .logo {
    font-size: 3rem;
    color: black;
    a {
      &:hover {
        color: black;
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
    width: 100%
  }
  .mobile-menu-btn {
    width: 100%;
    text-align: right;
    .btn {
      border: none;
      font-size: 3rem;
      background: none;
      padding: 0;
      &:focus {
        outline: 0;
      }
      &:active {
        box-shadow: none;
      }
    }
  }
  font-size: 1rem;
  &.container {
    display: flex; 
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      img {
        height: 38px;
      }
    }
  }
  #nav {
    flex-grow: 1;
    margin-left: 5rem;
    li {
      font-size: 1.8rem;
      margin-right: 5rem;
    }
  }
}

#hero-image {
  background-image: url("/assets/images/hero_img.jpg");
  height: 560px;
  width: 100%;
  background-size: cover;

  .hero-text {
    color: white;
    font-size: 5rem;
    font-family: 'quicksandbold';
    text-align: center;
    text-shadow: 0 2px 1px $main-black;
    transform: translateY(10rem);
    .thai {
      font-size: 3.2rem;
    }
    .btn {
      margin-top: 8rem;
      color: white;
      font-size: 2.3rem;
    }
    .btn-default {
      background: none;
      border-radius: 0;
      border-width: 3px;
      border-color: #4A96FF;
      padding: 1rem 6rem;
    }
  }
}

#mobile-menus {
  .menus {
    position: absolute;
    font-size: 2.5rem;
    background-color: white;
    border-top: 1px solid $light-grey;
    border-bottom: 2px solid $light-grey;
    width: 100%;
    padding: 1rem 0;
    display: none;
    z-index: 100;
    .row {
      margin: 0;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin: 1.5rem 0;
        letter-spacing: 0.2rem;
        padding: 0.5rem 0 1.8rem;
        border-bottom: 1px solid $light-grey2;
        // text-decoration: underline;
        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }
}

#mobile-close-icon {
  display: none;
}

