#what-in-it {
  @media (max-width: $screen-xs-max) {
    img {
      margin: 0 auto;
    }
  }
  .content {
    h3 {
      font-family: 'Sukhumvit Set Medium';
      font-size: 3.2rem;
      margin-top: 0;
    }
    p {
      color: $content-black;
      font-size: 2rem;
      strong {
        font-size: 2.2rem;
        color: $main-black;
      }
    }
  }
  .row {
    margin-bottom: 5rem;
  }
}

