@import 'colors';

body {
  font-size: 62.5%;
  font-family: 'Helvetica Neue', 'Helvetica','Arial', sans-serif;
}

.thai {
  font-family: 'Sukhumvit Set';
  &.medium {
    font-family: 'Sukhumvit Set Medium';
  }
}

.container {
  display: flex;
}

a {
  &:link, &:visited, &:active {
    text-decoration: none;
    color: $main-black;
  }
  &:hover {
    text-decoration: none; 
    color: $button-hover-grey
  }
}
