@font-face {
  font-family:'Sukhumvit Set';
  src: url("../fonts/sukhumvitset-thin-webfont.ttf") format("truetype");
}

@font-face {
  font-family:'Sukhumvit Set Medium';
  src: url("../fonts/sukhumvitset-medium-webfont.ttf") format("truetype");
}
