@import 'colors';

#what-in-it {
  @media (min-width: $screen-sm-min) {
    img {

    }
  }
  .content {
    h3 {
      font-family: 'Sukhumvit Set Medium';
      font-size: 3.2rem;
      margin-top: 0;
    }
    p {
      color: $content-black;
      font-size: 2rem;
    }
  }
  .row {
    margin-bottom: 5rem;
  }
}
