<div id="web-101">
  <div class="top-img"></div>
  <div class="title-container">
    <div class="title">
      <div class="header">Website Development 101</div>
      <div class="text thai">เริ่มต้นสร้างเว็บไซต์อย่างมือโปร</div>
    </div>
  </div>

  <div class="container">
    <section>
      <div class="row">
        <div class="col-md-2">
          <img src="/assets/images/courses/goal.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-10 contents thai">
          <p>Web Development 101 มุ่งสู่การเป็น professional web developer
          โดยจะเน้นสอนตั้งแต่ การวางแผน software development ในทีมโดยใช้ <a
            href="http://agilemethodology.org/" target="_blank">Agile methodology</a>,
          การออกแบบเว็บไซต์, การติดตั้งเครื่องมือที่จำเป็นในการสร้างเว็บไซต์, การใช้ html template, sass, jquery
          เพื่อช่วยในการสร้างเว็บไซต์ อย่างมืออาชีพ รวมถึงพื้นฐานการเขียน server-side
          programming และ database</p>
          <p>หลังจากจบหลักสูตร นักเรียนจะมีเว็บไซต์ online ของตัวเองเพื่อนำไปต่อยอด และเป็น portfolio ในสายอาชีพต่อไป</p>
        </div>
      </div>

      <div class="row tech-covered">
        <div class="col-md-offset-2 col-md-10 contents">
          <span class="thai">เนื้อหาครอบคลุม</span>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Javascript</li>
          <li>Database</li>
          <li>Node.js</li>
          <li>Git</li>
          <li>Design</li>
        </ul>
        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-md-2">
          <img src="/assets/images/courses/audience.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-10 contents thai">
          เหมาะสำหรับนักพัฒนาโปรแกรม ที่มีความรู้เบื้องต้นในการเขียนโปรแกรมหรือเว็บไซต์ เข้าใจ
          HTML CSS Javascript Database
        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-md-2">
          <img src="/assets/images/courses/description.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-10 contents thai">
          <p class="topic">อธิบายรายละเอียด ขั้นตอนการทำงาน ตั้งแต่เริ่มต้น จนจบงาน</p>
          <ul class="content">
            <li>การใช้ Agile methodology ในการบริหาร software development</li>
            <li>Story planning</li>
            <li>Test-driven development (TDD)</li>
            <li>Test automation*</li>
          </ul>
          <p class="topic">วางระบบเพื่อพัฒนาเว็บไซต์ได้อย่างมีประสิทธิภาพ</p>
          <ul class="content">
            <li>ใช้เครื่องมือของ Node.js เพื่อพัฒนาเว็บไซต์ได้อย่างมืออาชีพและต่อเนื่อง</li>
            <li>ใช้ source control เช่น Git</li>
            <li>Gulp.js, Webpack, etc.</li>
          </ul>
          <p class="topic">การบริหารจัดการ source code ในทีม</p>
          <ul class="content">
            <li>ใช้ source control เช่น git</li>
            <li>การใช้ Git command ต่างๆ commit, merge, rebase, etc.</li>
          </ul>
          <p class="topic">HTML5 / CSS3</p>
          <ul class="content">
            <li>ใช้ Bootstrap grid สำหรับสร้าง Responsive website</li>
            <li>เครื่องมือต่างๆ ที่ช่วยสร้างเว็บไซต์ เช่น Sass, Handlerbars</li>
          </ul>
          <p class="topic">Javascript อย่างมืออาชีพ</p>
          <ul class="content">
            <li>จัดการ HTML DOM, Events, Animations</li>
            <li>AJAX</li>
            <li>ครอบคลุมมาตรฐานใหม่ ES6</li>
            <li>เครื่องมือที่ช่วยพัฒนา web app เช่น React*</li>
          </ul>
          <p class="topic">การออกแบบเว็บไซต์</p>
          <ul class="content">
            <li>Sketch, Photoshop, Illustrator</li>
          </ul>
          <p class="topic">ติดตั้งเว็บไซต์บน production</p>
          <ul class="content">
            <li>จดทะเบียน Domain name</li>
            <li>ติดตั้งเว็บไซต์บน cloud platform เช่น Amazon, Digital Ocean, Heroku</li>
          </ul>
          <p class="topic">การพัฒนา Backend programming และ Web services</p>
          <ul class="content">
            <li>Node.js</li>
            <li>RESTful API</li>
            <li>Ruby on Rails*</li>
          </ul>
          <p class="topic">Database - Relational &amp; NoSQL</p>
          <ul class="content">
            <li>CRUD Operations</li>
            <li>PostgreSQL, MongoDB</li>
          </ul>
          <p class="notes">* ไม่คลอบคลุม ในหลักสูตรฟรี</p>
        </div>
      </div>
    </section>

    <section class="apply">
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="thai btn btn-default">ลงทะเบียน</a>
        </div>
      </div>
    </section>

    <section class="materials">
      <div class="row section-title">
        <div class="col-md-12 title thai">สิ่งที่ต้องเตรียมมา</div>
        <div class="col-md-12"><hr/></div>
      </div>
      <div class="row">
        <div class="col-md-12 contents thai">
          <ul>
            <li>
              <p>Laptop</p>
              <p>Windows / Mac</p>
              <img src="/assets/images/laptop.jpg" alt="laptop">
            </li>
            <li>
              <img class="plus-img" src="/assets/images/plus.png" alt="and">
            </li>
            <li>
              <p>Notebook &amp; Pen</p>
              <img src="/assets/images/notebook.png" alt="notebook">
            </li>
            <li>
              <img class="plus-img" src="/assets/images/plus.png" alt="and">
            </li>
            <li>
              <p>FUN!</p>
              <img src="/assets/images/fun.png" alt="fun">
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="instructor">
      <div class="row section-title">
        <div class="col-md-12 title thai">Instructor</div>
        <div class="col-md-12"><hr/></div>
      </div>

      <div class="row">
        <div class="col-md-12 instructor-info">
          <img src="/assets/images/instructor/ek.jpg" alt="Ekkapob Chitpanorak"
          class="instructor-photo img-circle">
          <div class="profile">
            <p>
              <span class="name thai">เอกภพ จิตพนอรักษ์ (เอก)</span>
              <a href="https://th.linkedin.com/in/ekkapob">
                <img src="/assets/images/linkedin_black.png"></img>
              </a>
              <a href="https://www.facebook.com/ekkapob.chitpanorak">
                <img src="/assets/images/facebook_black.png"></img>
              </a>
            </p>
            <div class="hidden-xs">
              <div class="exp">
                <ul>
                  <li>Full Stack Developer</li>
                  <li>Certified Scrum Master</li>
                  <li>Product Manager</li>
                </ul>
              </div>
              <div>
                <ul>
                  <li>Tripler</li>
                  <li>Taskworld</li>
                  <li>DST Worldwide Services</li>
                  <li>Thompson Reuters</li>
                </ul>
              </div>
            </div>
            <div class="visible-xs-block">
              <div>
                <ul>
                  <li>Full Stack Developer</li>
                  <li>Certified Scrum Master</li>
                </ul>
              </div>
              <div>
                <ul>
                  <li>Tripler</li>
                  <li>Taskworld</li>
                  <li>DST Worldwide Services</li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

      </div>
    </section>

  </div>
</div>

{{> back-to-top}}
