<div id="tech-course">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <img class="center-block" src="assets/images/course_basket.png" alt="courses">
      </div>
    </div>
  </div>
  <div class="container-fluid inverse-title">
    <div class="row title">
      <div class="col-md-12">
        <h1 class="text-center">Kickass TECH Courses</h1>
        <h2 class="thai text-center">หลักสูตรไม่มีกั๊ก</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <a class="btn btn-default" href="#">สายเดฟ (Developer)</a>
      </div>
      <div class="col-md-6 text-center">
        <a class="btn btn-default" href="#">สายดีไซน์ (Graphic Designer)</a>
      </div>
    </div>
  </div>
</div>
