<div id="tech-course">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <img class="center-block" src="assets/images/course_basket.png" alt="courses">
      </div>
    </div>
  </div>
  <div class="container-fluid title-container">
    <div class="row title">
      <div class="col-md-12">
        <a name="courses"></a>
        <h1 class="text-center">Kickass TECH Courses</h1>
        <h2 class="thai text-center">หลักสูตรไม่มีกั๊ก</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid courses-container">
    <div class="row courses">
      {{> course}}
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="more-course-coming">MORE COURSES COMING SOON!</p>
      </div>
    </div>
  </div>
</div>
