<div id="get-started">
  <div class="container">
    <div class="row title">
      <div class="col-md-12">
        <a name="apply"></a>
        <h1 class="text-center">How to Get Started?</h1>
        <h2 class="thai text-center">ขั้นตอนการลงเรียน</h1>
      </div>
    </div>
  </div>

  <div class="bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 info">
        <div class="step">
          <p class="thai title"><b>สอบถามเวลาสอนของ course ที่สนใจ</b></p>
            <div class="row content contacts thai">
              <div class="contact">
                <img src="assets/images/phone.png"/><span class="tel">080-441-4062</span>
              </div>
              <div class="contact">
                <img src="assets/images/email.png"/><span>hello@bytelingo.com</span>
              </div>
            </div>
            <div class="row content contacts thai">
              <div class="contact">
                <img src="assets/images/line.png"/><span>bytelingo</span>
              </div>
              <div class="contact">
                <img src="assets/images/facebook_plain.png"/><span>bytelingo</span>
              </div>
            </div>

        </div>
        <div class="step group-study">
          <p class="thai title"><b>แจ้งความต้องการในการเรียน</b></p>
          <p class="thai content">เราเปิดสอนทั้งแบบตัวต่อตัว หรือ จะรวมกลุ่มเพื่อนกันมา</p>
          <img src="assets/images/groupstudy.png" alt="group study">
        </div>
        <!-- <div class="step payment"> -->
        <!--   <p class="thai title"><b>ชำระค่าเรียน และแจ้งยืนยัน</b></p> -->
        <!--   <p class="thai content">รายละเอียดบัญชี</p> -->
        <!--   <div class="bank"> -->
        <!--     <img src="assets/images/banks/bbl.png" alt="bangkok bank"> -->
        <!--     <div class="details thai"> -->
        <!--       <p>123&#45;456&#45;7890 <span>ออมทรัพย์</span></p> -->
        <!--       <p>Bytelingo</p> -->
        <!--     </div> -->
        <!--   </div> -->
        <!-- </div> -->
        <div class="step">
          <p class="thai title"><b>เริ่มเรียนได้เลย!</b></p>
        </div>

      </div>
    </div>
  </div>
</div>

