<div id="header" class="container">
  <div class="logo"><a href="http://www.bytelingo.com">Bytelingo</a></div>
  <div class="visible-xs mobile-menu-btn">
    <button id="dropdown-menu" class="btn">
      <span id="mobile-menu-icon" class="glyphicon glyphicon-menu-hamburger"></span>
      <span id="mobile-close-icon" class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
  <div class="hidden-xs menu">
    <ul id="nav" class="thai">
      <li><a href="#courses">หลักสูตร</a></li>
      <li><a href="#apply">สมัครเรียน</a></li>
      <li><a href="#">ติดต่อ</a></li>
    </ul>
    <ul class="pull-right">
      <li>
        <a href="#">
          <img src="/assets/images/facebook.png" alt="Bytelingo Facebook"/>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/images/twitter.png" alt="Bytelingo Twitter"/>
        </a>
    </ul>
  </div>
</div>

<div id="mobile-menus" class="visible-xs">
  <div class="container-fluid thai menus">
    <div class="row">
      <div class="col-xs-12">
        <ul class="text-center">
          <li><a href="#courses">หลักสูตร</a></li>
          <li><a href="#apply">สมัครเรียน</a></li>
          <li><a href="#">ติดต่อ</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

