<div id="header" class="container">
  <div class="logo"><a href="http://www.bytelingo.com">Bytelingo</a></div>
  <ul id="nav" class="thai">
    <li><a href="#courses">หลักสูตร</a></li>
    <li><a href="#apply">สมัครเรียน</a></li>
    <li><a href="#">ติดต่อ</a></li>
  </ul>
  <ul class="pull-right">
    <li>
      <a href="#">
        <img src="/assets/images/facebook.png" alt="Bytelingo Facebook"/>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/images/twitter.png" alt="Bytelingo Twitter"/>
      </a>
  </ul>
</div>

