<div id="header" class="container">
  <img src="assets/images/bytelingo.svg" alt="Bytelingo" />
  <ul id="nav" class="thai">
    <li><a href="#">หลักสูตร</a></li>
    <li><a href="#">สมัครเรียน</a></li>
    <li><a href="#">ติดต่อ</a></li>
  </ul>
  <ul class="pull-right">
    <li>
      <a href="#">
        <img src="assets/images/facebook.png" alt="Bytelingo Facebook"/>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="assets/images/twitter.png" alt="Bytelingo Twitter"/>
      </a>
  </ul>
</div>
<div id="hero-image" class="img-responsive">
  <div class="hero-text">
    <p>kickass TECH courses</p>
    <p class="thai">เรียนเขียนโปรแกรม ทำเว็บไซต์/แอป เว็บดีไซน์ ที่เดียวจบ</p>
    <a href="#" class="thai btn btn-default">เริ่มเลย</a>
  </div>
</div>

